<!DOCTYPE html>

<html>

<head>
  <title>Trip Debt Assistance</title>

  <script src='https://code.jquery.com/jquery-2.1.1.min.js' type='text/javascript'></script>

  <script>
    function generateTable() {
      var blank = "<td></td>"
      var head = "";

      for (i = 0; i < parseInt($("#col").val()); i++) {
        head += "<th contenteditable='true'>contributor name "+ (i + 1) + "</th>";
      }

      head = "<tr>"+blank + head + "</tr>";

      var rows = "";
      var data = "";
      for (j = 0; j < parseInt($("#row").val()); j++) {
        data += "<td contenteditable='true'>merchant name "+j+"</td>";

        for (k = 0; k < parseInt($("#col").val()); k++) {
          data += "<td contenteditable='true'>" +00+ "</td>";
        }
        rows += "<tr>" + data + "</tr>";
        data = "";

      }

      var table = "<table border='1px'>" + head + rows + "</table>";

      $("#dydiv").empty();
      $("#dydiv").append(table);

    }
  </script>

</head>

<body>

  Number of merchants : <input type="text" id="col" />
  number of contributors :  <input type="text" id="row" />
  <input type="button" value="generate" onclick="generateTable();" />

  <div id="dydiv"></div>

</body>
</html>
